<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application android:label="Recoil Jump Man" android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
        android:allowBackup="false" android:hasCode="true" android:enableOnBackInvokedCallback="true">
        <activity android:name=".RjmActivity" android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|density|uiMode"
            android:launchMode="singleTask">
            <meta-data android:name="android.app.lib_name" android:value="rjm" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
